<!DOCTYPE html>
<html>
	<head>
		<title>My Fav Movie List</title>
	</head>
	<body>

        {% if message %}
            {{ message }} <br> <br>
        {% endif %}

        {% if movies %}
            {% for movie in movies %}
                <li> <a href="/movie/remove/?id={{ movie.pk }}"> [x] </a> {{ movie.name }} </li>
            {% endfor %}
        {% else %}
            No movies added so far. <br> 
        {% endif %} <br>

		<form action="/movies/" method="post"> {% csrf_token %}
            Movie Name : <input type="text" name="movie_name">
                         <input type="submit" value="Add">
        </form>
	</body>
</html>
